$primary-color-white:rgba(255, 255, 255, 1);
$primary-color-pink:rgba(218, 19, 132, 1);
$primary-color-hover:rgb(173, 6, 101);
$primary-color-blue:rgba(240, 249, 255, 1);
$primary-color-blue-500:rgba(52, 190, 238, 1);
$primary-color-blue-300:rgba(212, 233, 249, 1);